@reference "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  @apply bg-black;
}


/* Tailwind @apply for custom classes */
.editor-btn {
  @apply rounded-md p-2 text-gray-600 hover:bg-gray-100 transition;
}

.vote-btn {
  @apply rounded-md p-1 text-gray-500 hover:bg-gray-100 transition;
}
